@media (hover: hover) {
    .project-creator:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 0.3s;
        scale: 1.05;
    }

    .background-option:hover {
        background-color: #E4342E;
        transition: .3s;
    }
    
    .sort:hover {
        background-color: var(--round-active-purple);
        transition: .3s;
    }

    .task:hover, .note:hover {
        transition: 0.3s;
        border: 0.5px solid var(--heading-box-purple);
    }

    .details-xmark:hover {
        color: red;
        transition: 300ms;
    }

    .fa-pen-to-square:hover {
        color: var(--round-active-purple);
        transition: 0.3s;
    }
    
    .fa-trash:hover {
        transition: 0.3s;
        color: red;
    }

    .todo-create-mobile:hover , .project-create-mobile:hover , .note-create-mobile:hover  {
        transition: 0.1s;
        background-color: var(--round-active-purple);
    }

    .leave-creator i:hover {
        color: var(--heading-box-purple);
        transition: 0.3s;
    }

    .todo-create:hover .one {
        color: var(--round-active-purple);
        transition: 0.2s;
    }
    
    .note-create:hover .three {
        color: var(--round-active-purple);
        transition: 0.2s;
    }
    
    .project-create:hover .two {
        color: var(--round-active-purple);
        transition: 0.2s;
    }

    .button-bar button:hover {
        background: white;
        color: black;
        transition: .2s;
    }

    .deleter-xmark:hover {
        color: red;
        transition: .2s;
    }
    
    .todo-setter-nav-arrow i:hover, .note-setter-nav-arrow i:hover, .project-setter-nav-arrow i:hover, .todo-editor-nav-arrow i:hover, .note-editor-nav-arrow i:hover {
        color: var(--round-active-purple);
        transition: 0.2s;
    }

    .todo-setter-nav-icons i:hover, .note-setter-nav-icons i:hover, .project-setter-nav-icons i:hover, .todo-editor-nav-icons i:hover, .note-editor-nav-icons i:hover {
        color: var(--round-active-purple);
        transition: 0.2s;
    }

    .todo-setter-accept button:hover, .note-setter-accept button:hover, .project-setter-accept button:hover, .todo-editor-accept button:hover, .note-editor-accept button:hover {
        box-shadow: rgba(73, 24, 156, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 0.7s;
        scale: 1.07;
    }

    .alert-button button:hover, .alert-button-all button:hover {
        background-color: #ea4f4a;
        transition: 0.3s;
    }

    .mobile-menu:hover {
        background-color: var(--round-active-purple);
        transition: 0.3s;
    }
}

@media only screen and (max-height: 770px) {
    .options {
        grid-template-rows: repeat(5, minmax(50px, 1fr));
    }

    .projects {
        grid-auto-rows: 50px;
    }

    .project-name h2 {
        font-size: 1.2rem;
    }

    .options-heading h2 {
        font-size: 1.2rem;
    }
    
    .options-count p {
        font-size: 0.8rem;
    }

    .project-count p {
        font-size: 0.8rem;
    }

    .options-icon i {
        font-size: 1.2rem;
    }
}

@media only screen and (max-height: 630px) {
    .options {
        grid-template-rows: repeat(5, minmax(40px, 1fr));
    }

    .projects {
        grid-auto-rows: 40px;
    }

    .project-name h2 {
        font-size: 1rem;
    }

    .options-heading h2 {
        font-size: 1rem;
    }

    .options-icon i {
        font-size: 1rem;
    }
    
    .options-count p {
        font-size: 0.8rem;
    }

    .project-count p {
        font-size: 0.8rem;
    }
}




/* WIDTH */
/* WIDTH */
/* WIDTH */


@media only screen and (max-width: 1310px) {
    .task-heading h2, .note-heading h2 {
        font-size: 1.2rem;
    }   

    .todos {
        grid-auto-rows: 90px;
    }

    .task-text, .note-text {
        margin-top: 26px;
    }

    .round {
        width: 22px;
        height: 22px;
        border-radius: 50%;
    }

    .task-importance i {
        font-size: 1.45rem;
    }

    .add-task i {
        font-size: 1.6rem;
    }

    .add-task-text h2 {
        font-size: 1.1rem;
    }

    .category-name h2 {
        font-size: 2rem;
    }   
}

@media only screen and (max-width: 1280px) {
    .details {
        grid-template-columns: minmax(275px, 1fr) 5fr 400px;
    }

    .fa-xmark {
        padding: 10px;
    }

    .task-importance i:after {
        content: "";
        position: absolute;
        left: -5px;
        top: -11px;
        width: 60px;
        height: 70px;
    }

    .list-trash:after {
        content: "";
        position: absolute;
        left: -10px;
        top: -10px;
        width: 50px;
        height: 50px;
    }

    .task-status label:after {
        content: "";
        position: absolute;
        left: -20px;
        top: -23px;
        width: 50px;
        height: 63px;
    }

    .task-importance i {
        padding: 15px;
    }
}

@media only screen and (max-width: 1050px) {
    .details {
        grid-template-columns: minmax(275px, 1fr) 5fr 0px;
    }

    .active-task-details {
        position: fixed;
        background: linear-gradient(13deg, #000000 0%, #0f021d 46%, #000000 100%);
        right: 0;
        width: 500px;
        height: calc(100vh - calc(100vh - 100%))
    }

    .task-details {
        position: fixed;
        right: 0;
    }

    .projects {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 770px) {
    .active-task-details {
        width: 360px;
    }
}


@media only screen and (max-width: 1160px) {
    .choose-bar {
        grid-template-columns: 100px auto 100px;
    }

    .pd-input-heading label {
        white-space: normal;
        font-size: 2rem;
    }

    .pd-input-input select {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .choose-bar {
        grid-template-columns: 30px auto 30px;
    }

    .pd-input-heading label {
        white-space: normal;
        font-size: 2rem;
    }

    .pd-input-input select {
        font-size: 2rem;
    }

    .logo-bar img {
        width: 115px;
    }

    .logo-bar i {
        font-size: 1.8rem;
    }

    .button-bar button {
        font-size: 1rem;
        width: 110px;
        height: 40px;
    }

    .pd-input-heading label {
        white-space: normal;
        font-size: 1.6rem;
        line-height: 35px;
    }

    .pd-input-input select {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 510px) {
    .choose-bar {
        grid-template-columns: 0px auto 0px;
    }

    .pd-input-heading label {
        white-space: normal;
        font-size: 1.3rem;
        line-height: 35px;
    }

    .pd-input-input select {
        font-size: 1.3rem;
        height: 40px;
    }

    .pd-wrapper {
        padding: 0 10px;
    }

    .logo-bar {
        padding: 0 20px;
    }

    .button-bar {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 350px) {
    .pd-wrapper {
        padding: 0px;
    }
}

@media only screen and (max-width: 270px) {
    .pd-input-heading label {
        font-size: 1rem;
        line-height: 30px;
    }

    .pd-input-input select {
        font-size: 1rem;
        height: 30px;
    }
}

@media only screen and (max-width: 1060px) {
    .task-importance i:after {
        content: "";
        position: absolute;
        left: -5px;
        top: -7px;
        width: 60px;
        height: 60px;
    }

    .task-heading h2, .note-heading h2 {
        font-size: 1rem;
    }   

    .task-category p, .note-category p {
        font-size: 0.8rem;
    }

    .todos {
        grid-auto-rows: 70px;
    }

    .note-text, .task-text {
        margin-top: 18px;
    }

    .task-board-options i {
        font-size: 1.4rem;
    }

    .round {
        width: 23px;
        height: 23px;
        border-radius: 50%;
    }

    .task-importance i {
        font-size: 1.25rem;
    }

    .add-task i {
        font-size: 1.3rem;
    }

    .add-task-text h2 {
        font-size: 1rem;
    }

    .category-name h2 {
        font-size: 1.8rem;
    }

    .board-date p {
        font-size: 1rem;
    }

    .logo-desktop img {
        width: 155px;
        margin-top: 6px;
    }
}

@media only screen and (max-width: 940px) {
    .task-importance i:after {
        content: "";
        position: absolute;
        left: -8px;
        top: -6px;
        width: 60px;
        height: 54px;
    }

    .task-status label:after {
        content: "";
        position: absolute;
        left: -18px;
        top: -13px;
        width: 43px;
        height: 40px;
    }

    .active-task-details {
        width: 400px;
    }

    .todos {
        grid-auto-rows: 64px;
    }

    .task-heading, .note-heading {
        margin-top: -2px;
        margin-bottom: 5px;
    }

    .task, .note {
        grid-template-columns: 20px auto 20px;
        padding: 0 20px;
    }

    .task-importance i {
        font-size: 1rem;
    }

    .round {
        width: 20px;
        height: 20px;
    }

    .task-status label  {
        width: 20px;
        height: 20px;
    }

    .task-status label .check-icon:after {
        position: absolute;
        content: "";
        height: 8px;
        width: 4px;
        top: 85%;
        left: 5px;
        border-top: 2px solid #5cb85c;
        border-right: 2px solid #5cb85c;
        transform-origin: left top;
        animation: check-icon 0.8s ease;
        transform: translate(-50%, -50%) scaleX(-1) rotate(135deg);
    }

    @keyframes check-icon {
        0% {
            height: 0;
            width: 0;
            opacity: 0;
        }
    
        20% {
            height: 0;
            width: 2px;
            opacity: 1;
        }
    
        40% {
            height: 8px;
            width: 4px;
            opacity: 1;
        }
    
        100% {
            height: 8px;
            width: 4px;
            opacity: 1;
        }
    }

    .task-heading h2, .note-heading h2 {
        margin: 0;
        padding: 0 15px;
        line-height: 20px;
    }

    .profile-icon i {
        font-size: 2.2rem;
    }

    .profile-name h2 {
        font-size: 1rem;
    }

    .search-bar input {
        width: 100%;
        height: 30px;
        padding-left: 40px;
        font-size: 1rem;
    }

    .search-bar i {
        position: absolute;
        left: 0%;
        font-size: 0.9rem;
        margin-left: 15px;
        color: #68696D;
    }

    .task-category, .note-category {
        margin-left: 15px;
        margin-top: -5px;
    }

    .task-category p, .note-category p {
        font-size: 0.67rem;
    }

    .project-creator h2 {
        font-size: 0.9rem;
    }

    .add i {
        font-size: 1rem;
    }

    .task-adder {
        padding: 0 20px;
    }

    .add-task i {
        font-size: 1.2rem;
        margin-right: 15px;
    }

    .creator-options p {
        font-size: 5rem;
    }

    .todo-create, .project-create {
        margin-bottom: 70px;
    }

    .leave-creator h1 {
        font-size: 2.5rem;
    }

    .leave-creator i {
        font-size: 3rem;
    }

    .leave-creator img {
        width: 200px;
    }
}

@media only screen and (max-width: 850px) {
    .wrapper {
        display: grid;
        grid-template-columns: 220px 5fr;
    }

    .logo-desktop img {
        width: 130px;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 600px) {
    .profile-icon i {
        font-size: 1.3rem;
    }

    .profile-name h2 {
        font-size: 0.7rem;
        margin-bottom: 1px;
    }

    .profile-mail h4 {
        font-size: 0.5rem;
    }

    .search-bar input {
        height: 25px;
        padding-left: 40px;
        font-size: 0.8rem;
    }

    .search-bar i {
        font-size: 0.7rem;
        margin-left: 15px;
        color: #68696D;
    }

    .round {
        width: 17px;
        height: 17px;
    }

    .category-name h2 {
        font-size: 1.7rem;
    }  

    .board-date p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 450px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .todos {
        overflow: visible;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        min-height: 100vh;
    }

    .todos {
        overflow: visible;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        min-height: 100%;
        
    }

    .todos {
        overflow: visible;
    }
}

@media only screen and (max-width: 700px) {
    .task-text, .note-text {
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }
    .task-heading, .note-heading {
        margin-top: 0px;
        margin-bottom: 7px;
    }

    .task-status label:after {
        content: "";
        position: absolute;
        left: -15px;
        top: -17px;
        width: 40px;
        height: 50px;
    }

    .active-task-details {
        width: 100vw;
    }

    .task-details {
        border-left: 0;
        width: 100vw;
    }

    .creator-options p {
        font-size: 5rem;
    }

    .todos {
        /* overflow:visible; */
        grid-auto-rows: 60px;
        gap: 10px;
        padding-right: 0;
        border-radius: 7px;
    }

    .wrapper {
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav {
        position: fixed;
        pointer-events: none;
        left: -300px;
        width: 0;
        opacity: 1;
        transition: 1s;
        z-index: 400;
        background-color: black;
        grid-template-rows: min-content min-content 1fr;
    }

    .project-creator {
        display: none;
    }

    .task-board {
        grid-template-rows: min-content min-content min-content auto;
        margin: 0;
        gap: 40px;
        height: 100%;
        max-height: none;
    }

    .creator-menu, .active-menu {
        display: none;
    }

    .logo {
        display: unset;
    }

    .logo img {
        width: 120px;
        margin-top: 5px;
    }

    .category-name {
        display: none;
    }

    .board-date {
        display: none;
    }

    .background-option {
        background-color: transparent;
        padding: 8px;
    }

    .sort {
        display: none;
        background-color: transparent;
        border: 2px solid red;
    }

    .mobile-menu {
        display: unset;
        padding: 8px;
        border-radius: 10px;
    }

    .sort {
        padding: 0;
        background-color: transparent;
        padding: 8px;

    }

    .sort i, .mobile-menu i {
        font-size: 1.4rem;
        cursor: pointer;

    }

    .swapper-options {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .button-group {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #btn {
        left: 3px;
        top: 2px;
        position: absolute;
        height: 26px;
        background: var(--clicked-purple);
        transition: .5s;
        width: 116px;
        border-radius: 4px 0 0 4px;
        opacity: 0;
        transition: left 0.5s;
    }

    .swapper-options button {
        border-top: 2px solid var(--clicked-purple);
        border-bottom: 2px solid var(--clicked-purple);
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        position: relative;
    }

    .swapper-all {
        border-radius: 7px 0 0 7px;
        border-right: 1.5px solid var(--clicked-purple);
        border-left: 3px solid var(--clicked-purple);
        background: transparent;
    } 

    .swapper-today {
        border-radius: 0 7px 7px 0;
        border-left: 1.5px solid var(--clicked-purple);
        border-right: 3px solid var(--clicked-purple);
        background: transparent;
    }

    .search-bar-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .search-bar-mobile input {
        width: 96%;
        height: 40px;
        padding-left: 55px;
        border-radius: 20px;
        border: none;
        background-color: var(--heading-box-purple);
        font-size: 1.1rem;
        color: black;
    }

    .search-bar-mobile input::placeholder {
        color: black;
    }

    .search-bar-mobile i {
        position: absolute;
        left: 0;
        margin-left: 34px;
    }

    .add-task-text {
        display: none;
    }

    .empty {
        display: none;
    }

    .mobile-adder {
        display: flex;
        width: 45px;
        height: 45px;
        background-color: var(--clicked-purple);
        position: fixed;
        bottom: 15px;
        right: 15px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        cursor: pointer;
    }

    .task-adder {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        background-color: transparent;
        border-radius: 0;
        display: none;
    }

    .add-task i {
        color: white;
    }

    .add-task {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .task, .note {
        padding: 0 20px;
        border-radius: 7px;
    }

    .mobile-adder i {
        font-size: 1.5rem;
        transition: 0.5s;
    }

    .creator-menu-mobile {
        display: grid;
    }
    
    .creator-menu-mobile.active-menu-mobile {
       display: grid;
    }
    
}

@media only screen and (max-width: 420px) {
    .custom-alert-all {
        width: 250px;
        height: 190px;
        grid-template-rows: auto 35px;
    }

    .custom-alert {
        width: 270px;
        height: 180px;
        grid-template-rows: auto 35px;
    }

    .alert-heading h2 {
        font-size: 1.1rem;
    }
    
    .alert-subheading-all p {
        line-height: 15px;
        font-size: 0.8rem;
        padding: 0 5px;
    }

    .alert-subheading p {
        line-height: 15px;
        font-size: 1.1rem;
        padding: 0 5px;
    }
    
    .alert-icon i {
        font-size: 1.8rem;
    }

    .alert-button-all button {
        font-size: 0.8rem;
    }

    .alert-button button {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 300px) {
    .custom-alert-all {
        width: 180px;
        height: 140px;
        grid-template-rows: auto 32px;
    }

    .custom-alert {
        width: 180px;
        height: 140px;
        grid-template-rows: auto 32px;
    }

    .alert-heading h2 {
        font-size: 0.85rem;
        letter-spacing: normal;
    }
    
    .alert-subheading-all p {
        line-height: 13px;
        font-size: 0.7rem;
        padding: 0 3px;
    }

    .alert-subheading p {
        line-height: 13px;
        font-size: 0.85rem;
        padding: 0 3px;
    }
    
    .alert-icon i {
        font-size: 1.4rem;
    }

    .alert-button-all button {
        font-size: 0.6rem;
    }

    .cancel-all {
        margin-right: 2px;
    }
}

@media only screen and (max-width: 450px) {
    .task-heading h2, .note-heading h2 {
        font-size: 0.9rem;
    }

    .task-heading, .note-heading {
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .task-category p, .note-category p {
        font-size: 0.6rem;
    }

    .task-text, .note-text {
        margin-top: -3px;
    }
}

@media only screen and (max-width: 400px) {
    .creator-options p {
        font-size: 3.5rem;
    }

    .creator-options {
        padding-left: 15%;
    }

    .leave-creator i {
        font-size: 2.5rem;
    }

    .leave-creator h1 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 310px) {
    .search-bar-mobile input {
        width: 96%;
        height: 30px;
        padding-left: 45px;
        border-radius: 20px;
        border: none;
        background-color: var(--heading-box-purple);
        font-size: 0.8rem;
    }

    .search-bar-mobile i {
        position: absolute;
        left: 0;
        margin-left: 24px;
        font-size: 0.8rem;
        transform: translateY(5%);
    }

    .task, .note {
        display: grid;
        grid-template-columns: 0.3fr 7fr 0.3fr;
        /* padding: 0 10px; */
    }

    .task-heading h2, .note-heading h2 {
        font-size: 0.7rem;
        padding: 0 10px 0 15px;
    }

    .creator-options p {
        font-size: 3rem;
    }

    .creator-options {
        padding-left: 11%;
    }

    .leave-creator i {
        font-size: 2rem;
    }

    .leave-creator h1 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 273px) {
    .task-importance i {
        font-size: 0.95rem;
    }

    .swapper-options button {
        width: 80px;
        height: 20px;
        padding: 10px 12px;
    }

    .swapper-today, .swapper-all {
        font-size: 0.6rem;
    }
}


/* TODO SETTER */
/* TODO SETTER */
/* TODO SETTER */


@media only screen and (max-width: 1160px) {
    .todo-setter-form-image img, .note-setter-form-image img, .project-setter-form-image img, .todo-editor-form-image img, .note-editor-form-image img {
        width: 350px;
    }
}

@media only screen and (max-width: 1040px) {
    .todo-setter-form-image img, .note-setter-form-image img, .project-setter-form-image img, .todo-editor-form-image img, .note-editor-form-image img {
        width: 330px;
    }

    .todo-setter-main-area, .note-setter-main-area, .project-setter-main-area, .todo-editor-main-area, .note-editor-main-area {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .todo-setter-form-image, .note-setter-form-image, .project-setter-form-image, .todo-editor-form-image, .note-editor-form-image {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 980px) {
    .todo-setter-form-image img, .note-setter-form-image img, .project-setter-form-image img, .todo-editor-form-image img, .note-editor-form-image img {
        width: 280px;
    }

    .todo-setter-main-area, .note-setter-main-area, .project-setter-main-area, .todo-editor-main-area, .note-editor-main-area {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .todo-setter-form-image, .note-setter-form-image, .project-setter-form-image, .todo-editor-form-image, .note-editor-form-image  {
        justify-content: flex-end;
    }

    .todo-setter-wrap, .note-setter-wrap, .project-setter-wrap, .todo-editor-wrap, .note-editor-wrap {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 870px) {
    .todo-setter-main-area, .note-setter-main-area, .project-setter-main-area, .todo-editor-main-area, .note-editor-main-area {
        display: grid;
        grid-template-columns: 1fr;
    }

    .todo-setter-form-image, .note-setter-form-image, .project-setter-form-image, .todo-editor-form-image, .note-editor-form-image {
        display: none;
    }

    .todo-setter-wrap, .note-setter-wrap, .project-setter-wrap,  .todo-editor-wrap, .note-editor-wrap {
        padding: 20px 60px;
    }

    .todo-setter-nav-logo h2, .note-setter-nav-logo h2, .project-setter-nav-logo h2, .todo-editor-nav-logo h2, .note-editor-nav-logo h2 {
        font-size: 2rem;
    }

    .todo-setter-nav-icons i, .todo-setter-nav-arrow i, .note-setter-nav-arrow i, .note-setter-nav-icons i, .project-setter-nav-arrow i, .project-setter-nav-icons i, .todo-editor-nav-icons i, .todo-editor-nav-arrow i, .note-editor-nav-arrow i, .note-editor-nav-icons i {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 650px) {
    .custom-arrow {
        top: 5px;
    }

    .custom-alert-all {
        width: 380px;
        height: 250px;
        grid-template-rows: auto 50px;
    }

    .custom-alert {
        width: 380px;
        height: 220px;
        grid-template-rows: auto 50px;
    }

    .alert-heading h2 {
        font-size: 1.2rem;
    }
    
    .alert-subheading-all p {
        line-height: 25px;
        font-size: 1.2rem;
        padding: 0 10px;
    }
    
    .alert-icon i {
        font-size: 3rem;
    }

    .alert-button-all button {
        font-size: 1.1rem;
    }

    .todo-setter-wrap, .note-setter-wrap, .project-setter-wrap, .todo-editor-wrap, .note-editor-wrap {
        padding: 20px 20px;
    }
    
    .setter-label label {
        font-size: 1.2rem;
    }

    .container, .container-edit, .container-phone, .container-edit-phone {
        font-size: 1.2rem;
    }

    .checkmark, .checkmark-phone {
        height: 18px;
        width: 18px;
    }

    .container .checkmark:after, .container-edit .checkmark:after, .container-edit-phone .checkmark-phone:after, .container-phone .checkmark-phone:after {
        left: 7px;
        top: 3px;
        width: 2px;
        height: 8px;
        border: solid white;
        border-width: 0 2.5px 2.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .setter-input input, .setter-input textarea, .setter-input select {
        font-size: 1.1rem;
    }

    .todo-form {
        grid-template-rows: 90px 1.5fr 90px 90px 1fr;
        gap: 15px;
    }

    .note-form {
        grid-template-rows: 90px 1.5fr 1fr;
    }

    .setter-label {
        display: flex;
        align-items: center;
        margin-left: 16px;
    }

    .todo-setter-importance {
        transform: translate(-1%, 23%);
    }
}

@media only screen and (max-width: 490px) {
    .todo-form {
        grid-template-rows: 90px minmax(180px, 1.5fr)  90px 90px 50px 1fr;
    }

    .todo-setter-importance, .todo-editor-importance {
        display: none;
    }

    .todo-setter-importance-phone, .todo-editor-importance-phone {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .container, .container-edit, .container-edit-phone, .container-phone {
        padding-left: 10px;
    }

    .todo-setter-area, .note-setter-area, .project-setter-area, .todo-editor-area, .note-editor-area {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 390px) {
    .setter-label label {
        font-size: 0.9rem;
    }

    .setter-input input, .setter-input textarea, .setter-input select {
        font-size: 1rem;
    }

    .todo-setter-accept button, .note-setter-accept button, .project-setter-accept button, .todo-editor-accept button, .note-editor-accept {
        height: 50px;
        font-size: 1.1rem;
    }

    .todo-form {
        grid-template-rows: 90px minmax(180px, 1.5fr) 90px 90px 50px 1fr;
        gap: 10px;
    }

    .note-form, .project-form {
        gap: 10px;
    }

    .todo-setter-nav-logo img, .note-setter-nav-logo img, .project-setter-nav-logo img, .todo-editor-nav-logo img, .note-editor-nav-logo img {
        margin-top: 5px;
        width: 120px;
    }

    .todo-setter-nav-icons i, .todo-setter-nav-arrow i, .note-setter-nav-icons i, .note-setter-nav-arrow i, .project-setter-nav-icons i, .project-setter-nav-arrow i, .todo-editor-nav-icons i, .todo-editor-nav-arrow i, .note-editor-nav-icons i, .note-editor-nav-arrow i {
        font-size: 1.3rem;
    }

    .todo-setter-wrap, .note-setter-wrap, .project-setter-wrap, .todo-editor-wrap, .note-editor-wrap {
        grid-template-rows: 0.8fr 9fr;
    }
}

