/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(13deg, #000000 0%, #0f021d 46%, #000000 100%);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.menu-active {
    overflow: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CUSTOMS STYLES */
/* CUSTOMS STYLES */
/* CUSTOMS STYLES */


:root {
    --clicked-purple: #341D70;
    --background-purple: #26144F;
    --round-active-purple: #725AFF;
    --important-red: #E05059;
    --heading-box-purple: #C5BAFE;
}


/* WRAPPER */
/* WRAPPER */
/* WRAPPER */


.wrapper {
    display: grid;
    grid-template-columns: minmax(330px, 1fr) 5fr;
}


/* NAV */
/* NAV */
/* NAV */


.nav {
    display: grid;
    grid-template-rows: 1.5fr 2fr 7fr 7fr 1.3fr;
    padding: 15px 25px 10px 25px;
    border-right: 0.5px solid var(--heading-box-purple);
    max-height: 100vh;
}

/* PROFILE */

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.profile-icon i {
    color: white;
    font-size: 2.5rem;
    margin-right: 12px;
}

.profile-name h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.profile-mail h4 {
    color: white;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* SEARCH */

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
}

.search-bar input {
    width: 100%;
    height: 40px;
    background-color: #DEDADB;
    border: none;
    border-radius: 10px;
    padding-left: 60px;
    font-size: 1.3rem;
    outline: none;
}

.search-bar i {
    position: absolute;
    left: 0%;
    font-size: 1.3rem;
    margin-left: 15px;
    color: #68696D;
}

/* OPTIONS */

.options {
    display: grid;
    grid-template-rows: repeat(5, minmax(65px, 1fr));
    padding-left: 15px;
    border-bottom: 1px solid #DEDADB;
    padding-bottom: 10px;
}

.options h2, .options p {
    font-family: 'Roboto', sans-serif;
}

.all, .today, .week, .notes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.important {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -3px;
}

.options-icon i {
    color: white;
    font-size: 1.4rem;
}

.options-heading {
    margin-left: 25px;
}

.options-heading h2 {
    color: white;
    font-size: 1.4rem;
}

.options-count {
    margin-left: auto;
    margin-right: 10px;
}

.options-count p {
    color: white;
    font-size: 1rem;
}

.notes {
}

/* PROJECTS */

.projects {
    display: grid;
    grid-auto-rows: minmax(65px, 1fr);
    overflow: auto;
    padding-left: 12px;
    padding-top: 10px;
}

.projects::-webkit-scrollbar {
    width: 0.2vw;
}

.projects::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.projects::-webkit-scrollbar-track {
    background-color: transparent;
}

.project-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-num p, .project-name h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.4rem;
}

.project-count p {
    font-size: 1rem;
    color: white;
}

.project-name {
    margin-left: 25px;
}

.project-count {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: 10px;
}

/* PROJECT CREATOR */

.project-creator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--round-active-purple);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    scale: 1;
}

.project-creator:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
    scale: 1.05;
}

.project-creator h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.add i {
    color: white;
    font-size: 1.2rem;
}



/* TASK-BOARD */
/* TASK-BOARD */
/* TASK-BOARD */



.task-board {
    display: grid;
    gap: 15px;
    grid-template-rows: 1.6fr 7fr;
    padding: 25px 33px;
    padding: 25px 33px 25px 33px;
    max-height: 100vh;
}

.task-board > div {
}

/* HEADING BOX */

.heading-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.task-board-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.task-board-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.task-board-options i {
    color: white;
    font-size: 1.8rem;
}

.sort {
    margin-right: 20px;
}

.background-option {
    margin-right: 20px;
}

.sort, .background-option {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.category-name h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.7rem;
    margin-bottom: 7px;
}

.board-date p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
}

/* TODOS */

.todos {
    display: grid;
    grid-auto-rows: 100px;
    overflow: auto;
    gap: 4px;
    padding-right: 10px;
    border-radius: 20px;
}

.todos::-webkit-scrollbar {
    width: 0.2vw;
}

.todos::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.todos::-webkit-scrollbar-track {
    background-color: transparent;
}

.todos > div {
    
}

.task {
    display: grid;
    grid-template-columns: 0.6fr 7fr 0.6fr;
    background-color: var(--round-active-purple);
    border-radius: 20px;
}

.task-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.task-importance {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-importance i {
    color: white;
    font-size: 1.6rem;
}

.task-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.task-heading h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.task-category p {
    color: rgb(187, 187, 187);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

/* TASK-ADDER */

.task-adder {
    background-color: var(--heading-box-purple);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.6fr 7fr 0.6fr;
    grid-template-rows: 1fr;
    margin-right: 10px;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task i {
    font-size: 2rem;
}

.add-task-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-task-text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}


/* MOBILE */
/* MOBILE */
/* MOBILE */


.logo {
    display: none;
}

.mobile-menu {
    display: none;
}

.swapper-options {
    display: none;
}

.search-bar-mobile {
    display: none;
}

.round2 {
    display: none;
}

.mobile-adder {
    display: none;
    z-index: 100;
}

.todo-create-mobile, .project-create-mobile, .note-create-mobile {
    width: 45px;
    height: 45px;
    background-color: var(--clicked-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: 1s;  
}

.todo-create-mobile p, .project-create-mobile p, .note-create-mobile p {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.todo-create-mobile p.options-appear, .project-create-mobile p.options-appear, .note-create-mobile p.options-appear {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.todo-create-mobile p {
    left: -50px;
}

.project-create-mobile p {
    left: -60px;
}

.note-create-mobile p {
    left: -48px;
}

.todo-create-mobile i, .project-create-mobile i, .note-create-mobile i {
    font-size: 1.2rem;
}

.todo-create-mobile.active-todo-mobile {
    bottom: 90px;
    transition: 1s;
}

.project-create-mobile.active-project-mobile {
    bottom: 150px;
    transition: 1s;
}

.note-create-mobile.active-note-mobile {
    bottom: 210px;
    transition: 1s;
}

.rotated {
    transform: rotate(45deg);
    transition: 0.5s;
}

.creator-menu-mobile {
    background: linear-gradient(13deg, #000000 0%, #0f021d 46%, #000000 100%);
    left: 100%;
    top: 200%;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
    width: 0;
    height: 0;
}

.creator-menu-mobile.active-menu-mobile {
    height: 100vh;
    width: 100vw;
    left: 0%;
    top: 0%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    overflow: hidden;
}


/* CREATOR MENU */
/* CREATOR MENU */
/* CREATOR MENU */


.creator-menu {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(13deg, #000000 0%, #0f021d 46%, #000000 100%);
    grid-template-rows: 1fr 10fr;
    padding: 20px 10px;
    transition: 0.3s;
    display: grid;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    scale: 0.5;
}

.active-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    scale: 1;
}

.leave-creator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.leave-creator h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3rem;
}

.purple-creator {
    color: var(--round-active-purple)
}

.leave-creator i:hover {
    color: var(--heading-box-purple);
    transition: 0.3s;
}

.leave-creator i {
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

.creator-options {
    display: flex;
    padding-left: 20%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.one {
    transition: 0.4s;
}

.todo-create:hover .one {
    color: var(--round-active-purple);
    transition: 0.2s;
}

.note-create:hover .three {
    color: var(--round-active-purple);
    transition: 0.2s;
}

.project-create:hover .two {
    color: var(--round-active-purple);
    transition: 0.2s;
}

.creator-options p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    color: white;
}

.todo-create, .project-create, .note-create {
    cursor: pointer;
}

.todo-create, .project-create {
    margin-bottom: 80px;
}

.index-num {
    font-size: 1.5rem;
    margin-left: 10px;
}




